singleuser:
  image:
    tag: "sha-4e269f9"
    pullPolicy: "Always"
  cloudMetadata:
    blockWithIptables: false
  extraEnv:
    JUPYTERHUB_PUBLIC_URL: https://jupyter.chameleoncloud.org

hub:
  image:
    tag: "sha-41fc46f"
    pullPolicy: "Always"
  config:
    ChameleonKeycloakAuthenticator:
      keystone_auth_url: "https://chi.uc.chameleoncloud.org:5000/v3"
      keystone_default_region_name: "CHI@UC"
    GenericOAuthenticator:
      oauth_callback_url: "https://jupyter.chameleoncloud.org/hub/oauth_callback"
      client_id: "jupyterhub-prod"
      authorize_url: "https://auth.chameleoncloud.org/auth/realms/chameleon/protocol/openid-connect/auth"
      token_url: "https://auth.chameleoncloud.org/auth/realms/chameleon/protocol/openid-connect/token"
      userdata_url: "https://auth.chameleoncloud.org/auth/realms/chameleon/protocol/openid-connect/userinfo"
      logout_redirect_url: "https://auth.chameleoncloud.org/auth/realms/chameleon/protocol/openid-connect/logout"
  extraEnv:
    TROVI_URL: "https://trovi.chameleoncloud.org"
    KEYCLOAK_CLIENT_ID: "jupyterhub-prod"
    KEYCLOAK_TOKEN_URL: "https://auth.chameleoncloud.org/auth/realms/chameleon/protocol/openid-connect/token"
    OAUTH_CLIENT_ID: "jupyterhub-prod"
  db:
    pvc:
      storageClassName: "cinder-csi"
debug:
  enabled: true
